@import "../../node_modules/primereact/resources/themes/lara-light-cyan/theme.css";
@import "../../node_modules/primeflex/primeflex.css";
@import "../../node_modules/primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');


.pagePadding{
    padding: 20px;
}
label{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #4B4B4B;
}

body{
    margin: 0px;

}
.col-6{
    width: 48% !important;
}

.col-3{
    width: 24% !important;
}

.col-10{
    width: 68% !important;
}

@media screen and (min-width: 650px) {
    .md\:col-3 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 24%;
    }
}

.liter-regular {
    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (min-width: 768px) {
    .md\:col-4 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 31.3333% !important;
    }
}